body {
  font-family: 'Open Sans';
}

h2 {
  font-size: 25px;
}

.container-table {
  display: table;
  margin: 0px 0px 20px 0px;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.extra-padding {
  padding: 20px 0px 10px 0px;
}

.result {
  background-color: #fff;
  margin: 10px 0px 0px 0px;
  padding: 5px 20px 5px 20px;
  min-height: 115px;
  opacity: 0.93;
  filter: alpha(opacity=93); /* For IE8 and earlier */
}

.description {
  font-size: 14px;
}

.add-on .input-group-btn > .btn {
  border-left-width:2;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  height: 50px;
  width: 50px;
}

.add-on .form-control {
  text-align: center;
  font-size:25px;
  height: 50px;
}

/*Placeholder text styling*/
::-webkit-input-placeholder {
 font-size: 1em;
 text-align: center;
}
:-moz-placeholder { /* older Firefox*/
 font-size:1em;
 text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 1em;
 text-align: center;
} 
:-ms-input-placeholder { 
 font-size: 1em;
 text-align: center;
}

#attribution {
  color: #fff;
  font-size: 16px;
}

#search-button {
  margin: 0px 5px 0px 0px;
}